@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")' rel="stylesheet">

    <!-- Custom CSS -->
    <link href='@routes.Assets.at("css/agency/agency.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/app/app.css")' rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">
    <link href='@routes.Assets.at("fonts/Montserrat/css/fonts.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("fonts/Kaushan-Script/css/fonts.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("fonts/Droid-Serif/css/fonts.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("fonts/Roboto-Slab/css/fonts.css")' rel='stylesheet'>
    <link href='@routes.Assets.at("fonts/Roboto/css/fonts.css")' rel='stylesheet'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src='@routes.Assets.at("lib/html5shiv/html5shiv.js")'></script>
    <script src='@routes.Assets.at("lib/respond/dest/respond.min.js")'></script>
    <![endif]-->
  </head>
  <body id="page-top" class="index">

    @content

    <script src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
    <script src='@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")'></script>
  </body>
</html>
